

.background{ 
	-fx-background-color: #3F729B;
}



.myDialog{
    -fx-background-color: #4B515D;
}
.myDialog > *.button-bar > *.container{
	-fx-font-size: 14px;
    -fx-background-color: #4B515D;
}
.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.myDialog:header *.header-panel{
    -fx-background-color: #061539;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 30 px;
    -fx-font-style: italic;
    -fx-text-fill: #FAFAFA;
}